/* src/components/TaskList.css */
.task-list {
    flex: 1;
    padding: 20px;
    width: 100%;
    box-sizing: border-box;
  }
  
  .add-task input {
    width: 100%;
    padding: 10px;
    margin-top: 20px;
    margin-bottom: 20px;
    box-sizing: border-box;
  }
  
  .tasks {
    margin-top: 20px;
  }
  .task-item .completed {
    text-decoration: line-through;
    color: grey;
  }
  .task-item {
    background: #f9f9f9;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ddd;
    border-radius: 5px;
  }
  