.task-details {
    width: 20%;
    color: black;
    padding: 30px;
  }

  /* .dark-mode .taskd{
    background-color:#232323;
    color: #E2E2E2;
    } */

    .dark-mode .task-details{
      background-color:#232323;
      color: #E2E2E2;
      }