/* src/components/TaskItem.css */
.task-item {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px;
    border-bottom: 1px solid #ddd;
    cursor: pointer;
  }
  
  .task-item input {
    margin-right: 10px;
    height: 50px;
  }
  .star-icon {
    cursor: pointer;
    color: gray;
  }
  
  .star-icon.starred {
    color: black;
  }
  .completed {
    text-decoration: line-through;
  }
  